body {
  margin: 0;
  font-family: sans-serif;
  background: #1900d5; /* Azul */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  text-align: center;
  width: 220px;
}

h1 {
  background: #eee;
  margin: 0;
  padding: 12px;
  border-radius: 4px 4px 0 0;
}

button {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background: #ddd;
  cursor: pointer;
}

.voltar {
  width: 60%;
  margin: auto;
}

