body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1900d5;
    font-family:sans-serif
}

.box{
    background:#0044cc;
    width:260px;
    padding:15px;
    border:2px solid rgb(255, 255, 255);
    text-align:center}

h1{
    background:#fff;
    margin:0 0 15px;
    padding:10px
}
.item{
    display:flex;
    align-items:center;
    background:#fff;
    margin:10px 0;padding:8px;
    border-radius:6px
}

.item img{
    width:60px;
    height:40px;
    margin-right:8px
}
button{
    margin-top:15px;
    padding:8px 20px;
    font-weight:bold;
    border:0;border-radius:5px;cursor:pointer
}
