body {
  font-family: sans-serif;
  background: #0019d5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background: 
  #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

input, .default {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.default {
  background: #3b5998;
  color: #fff;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 6px 0;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

.google { background: #0008ff; }
.facebook { background: #2600ff; }
.apple { background: #0004ff; }
