body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1900d5;
}
div{
    grid-template-columns: auto;
    text-align: center; 
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    
}
    
